node_modules/
.DS_Store

credits.js

tree.json
visited.json
collected.json

public/screens/*.png

index.html
screens.html

tasks/screens.js
tasks/snippets.js
tasks/urls.js
tasks/*.save.js

data/*.json
data/**/*.*
