<!DOCTYPE html>
<html>
  <head>
    <title>🌪Harvester</title>
    <link rel="stylesheet" href="assets/styles.css">
  </head>
  <body class="page">
    <div class="wrapper">
      <h1>🌪Harvester</h1>

      <div class="container">
        <div class="aside">
          {{#tasksGroups}}
            {{{.}}}
          {{/tasksGroups}}
        </div>

        <main class="main">
          <div class="title-wrapper">
            <h2 class="title">
              <span class="title__group-name"></span>
              <span class="title__task-name"></span>
            </h2>
            <div class="task-controls">
              <button
                class="task-control task-control--runner"
                type="button"
                >Start</button>
              <button
                class="task-control task-control--show-data"
                type="button"
                >Show data</button>
              <button
                class="task-control task-control--prepare-data"
                type="button"
                >Prepare data</button>
              <a href="#"
                class="task-control task-control--download-data"
                type="button"
                hidden=""
                download=""
                >Download</a>
            </div>
          </div>
          <div class="status">
            <div class="status__name">status</div>
            <textarea
              class="status__text"
              placeholder="..."
              ></textarea>
          </div>
          <div class="content"></div>
        </main>
      </div>
    </div>

    <script type="text/javascript" src="assets/socket.js"></script>
    <script type="text/javascript" src="assets/index.js"></script>
  </body>
</html>
