<!DOCTYPE html>
<html>
  <head>
    <title>🌪Harvester</title>
    <style>{{{styles}}}</style>
  </head>
  <body class="page">
    <div class="wrapper wrapper--downloaded">
      <h1 class="title title--downloaded">
        <span class="title__group-name">{{listId}}</span>
        <span class="title__task-name">{{taskId}}</span>
      </h1>

      <div class="container container--downloaded">
        <main class="main">
          <div class="content">{{{content}}}</div>
        </main>
      </div>
    </div>
  </body>
</html>
