{{#images}}
  {{#screens}}
    <div class="page-screen">
      <img
        class="page-screen__img"
        src="{{path}}"
        alt="{{title}}"
        title="{{title}}"/>
      {{#pathCompare}}
      <img
        class="page-screen__img page-screen__img--compare"
        src="{{pathCompare}}"
        alt="{{title}}"
        title="{{title}}"/>
      {{/pathCompare}}
      <span class="page-screen__img-sizes">
        {{sizes.width}}x{{sizes.height}}
      </span>
      <a
        class="page-screen__link page-screen__link--url"
        href="{{url}}">Go to Page</a>
      <a
        class="page-screen__link page-screen__link--img"
        href="{{path}}">Open Image</a>
    </div>
  {{/screens}}
{{/images}}
