<li class="pages-item">
  <h4>
    {{#data.url}}
      <a href="{{data.url}}">{{data.title}}</a>
    {{/data.url}}
    {{#data.screens}}
      <span class="pages-item__screen" style="background-image: url({{path}});"></span>
    {{/data.screens}}
    {{#data.theme}}
      <b
        class="pages-item__theme">
        {{data.theme}}
      </b>
    {{/data.theme}}
    <span>{{data.pathname}}</span>
    {{#data.from}}
      <a
        class="pages-item__from"
        href="{{data.from}}">⤵️</a>
    {{/data.from}}
  </h4>

  <ol class="pages-list">
    {{#items}}
      {{{markup}}}
    {{/items}}
  </ol>
</li>
