HTML {
  font-size: 16px;
}

BODY {
  font: 14px/1.4 Trebuchet MS, Arial, sans-serif;
}

A {
  color: dodgerblue;
}

A:visited {
  color: orchid;
}

H1, H2, H3, H4 {
  margin-top: 0;
  margin-bottom: .5em;
}

OL {
  margin: .3em;
  margin-bottom: 1em;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Layout */
.wrapper {
  margin: 2rem auto;
}
.page--showScreens .wrapper {
  text-align: center;
}

.container {
  display: flex;
  border-top: 1px solid #DDD;
}

.main {
  padding: 1rem;
  flex-grow: 1;
}

.aside {
  flex-basis: 200px;
  flex-shrink: 0;
  border-right: 1px solid #DDD;
  padding: 1rem;
}

/* Title */
.title-wrapper {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  margin-bottom: 0;
  min-height: 20px;
}
.title__group-name {
  font-size: 16px;
  color: #555;
}
.title__group-name:not(:empty)::after {
  content: " /";
}

/* Task Stopper */
.task-stopper {
  margin-left: 20px;
  border: 2px solid;
  border-radius: 5px;
  font: inherit;
  color: #999;
  cursor: pointer;
}

.task-stopper:disabled {
  opacity: .25;
  cursor: not-allowed;
}
.task-stopper:active {
  color: orangered;
}

.tasks-group__list {
  padding-left: 1em;
}

/* Status */
.status {
  position: relative;
  margin-bottom: 1em;
}
.status__name {
  position: absolute;
  top: 1px;
  right: 1.2em;
  bottom: 1px;
  display: flex;
  padding: .5em;
  pointer-events: none;
  line-height: 1;
  color: rgba(0,0,0,.5);
}
.status__text {
  width: 100%;
  min-height: 124px;
  padding: .5em;
  padding-right: 5em;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  background: #EEE;
  line-height: 1;
  font: inherit;
  transition: background 1s;
}

.status__text[data-status="error"] {
  background: hsl(0, 80%, 90%);
}

.status__text[data-status="start"] {
  background: hsl(30, 80%, 80%);
}

.status__text[data-status="in-progress"] {
  background: hsl(60, 80%, 80%);
}

.status__text[data-status="success"] {
  background: hsl(80, 80%, 80%);
}

/* Screens */
.page-screen {
  display: inline-block;
  position: relative;
  width: 250px;
  margin: .5rem;
  vertical-align: top;
}

.page-screen__img {
  max-width: 100%;
}

.page-screen__img-placeholder {
  display: block;
  max-width: 100%;
  padding-top: 100%;
  background-size: cover;
  border: 1px solid #DDD;
}

.page-screen__link {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-size: 30px;
  text-decoration: none;
  color: lightseagreen;
  transition: .25s;
}

.page-screen__link:visited {
  color: prune;
}

.page-screen__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background: #FFF;
  border: 5px solid;
  border-radius: 5px;
}

.page-screen__link:hover {
  opacity: .5;
}

.page-screen__link--img {
  top: 0;
}
.page-screen__link--url {
  bottom: 0;
}

/* Nav */
.nav {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.nav__separator {
  margin: 1rem;
}

.page--screens .nav {
  display: none;
}

.page--screens .page-screen {
  max-width: 400px;
}

/* Pages list  */
.pages-list {
  padding-left: 20px;
}

.pages-item {
  margin-bottom: 5px;
}

.pages-item SPAN {
  text-decoration: none;
  color: #AAA;
}

.pages-item__screen {
  display: block;
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  transition: all .25s;
}

/* Prevents loading images before hover on link */
.pages-item A:not(:hover) ~ .pages-item__screen {
  background-image: none !important;
}

.pages-item A:hover ~ .pages-item__screen {
  background-size: cover;
  width: 500px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

IMG {
  display: block;
  outline: 1px solid #DDD;
}

/* Dummy tabs */
.tabs {
  position: relative;
}

.tabs__label {
  display: inline-block;
  padding: .5rem;
  margin-bottom: -1px;
  cursor: pointer;
}

.tabs__radio:checked + .tabs__label {
  border: 1px solid #DDD;
  border-bottom: 0;
  background: white;
}

.tabs__content {
  display: none;
  padding-top: 1rem;
  border-top: 1px solid #DDD;
}

.tabs__radio:not(:checked) ~ .tabs__content--tab .page-screen__img-placeholder {
  background: none;
}

.tabs__radio--tab-1:checked ~ .tabs__content--tab-1 {
  display: block;
}

.tabs__radio--tab-2:checked ~ .tabs__content--tab-2 {
  display: block;
}
