HTML {
  font-size: 16px;
}

BODY {
  font: 14px/1.4 Trebuchet MS, Arial, sans-serif;
}

A {
  color: dodgerblue;
}

A:visited {
  color: orchid;
}

H1, H2, H3, H4 {
  margin-top: 0;
  margin-bottom: .5em;
}

OL {
  margin: .3em;
  margin-bottom: 1em;
}

.wrapper {
  max-width: 800px;
  margin: 2rem auto;
}
.page--showScreens .wrapper {
  max-width: 100%;
  text-align: center;
}

.page-screen {
  max-width: 250px;
}

.nav {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.nav__separator {
  margin: 1rem;
}

.page--screens .nav {
  display: none;
}

.page--screens .page-screen {
  max-width: 400px;
}

.pages-item SPAN {
  text-decoration: none;
  color: #AAA;
}

IMG {
  margin: .5rem;
  vertical-align: top;
  line-height: 1;
  outline: 1px solid #DDD;
}
